<launch>
    <arg name="enable_pointcloud" default="true" />
    <arg name="pointcloud_texture_stream" default="RS2_STREAM_ANY" />
    <arg name="ordered_pc" default="true" />
    <arg name="align_depth" default="true"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" value="$(arg enable_pointcloud)" />
        <arg name="pointcloud_texture_stream" value="$(arg pointcloud_texture_stream)" />
        <arg name="ordered_pc" value="$(arg ordered_pc)" />
        <arg name="align_depth" value="$(arg align_depth)" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="realsense2base_link" args="0.104 0 0.562 0 0 0 base_link camera_link 100" />
</launch>