<launch>
  <arg name="bag" default="2022-03-03-11-39-11.bag" />
  <arg name="bag_path" default="$(find oit_minibot_heavy_v6)/bags/$(arg bag)" />
  <arg name="rate" default="1" />
  <arg name="initial_pose_x" default="0" />
  <arg name="initial_pose_y" default="0" />
  <arg name="initial_pose_a" default="0" />
  <arg name="map_dir" default="$(find oit_minibot_heavy_v6)/maps" />
  <arg name="map_name" default="oit1" />
  <arg name="map_path" default="$(arg map_dir)/$(arg map_name).yaml" />
  <arg name="rviz_conf" default="$(find oit_minibot_heavy_v6)/config/rviz/navigation.rviz" />
  <arg name="use_filter" default="false" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" required="true" />

  <node name="playbag" pkg="rosbag" type="play" args="-r $(arg rate) --clock $(arg bag_path)" required="false" />

  <include file="$(find oit_minibot_heavy_v6)/launch/include/pointcloud_to_laserscan.launch">
    <arg name="use_filter" value="$(arg use_filter)" />
  </include>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)" respawn="false" />

  <include file="$(find oit_minibot_heavy_v6)/launch/include/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>

</launch>
