<launch>
  <arg name="minimal" default="true" />
  <arg name="minimal_targets" default="'/(velodyne_points|scan|rplidar_scan|clock|cmd_vel|odom|tf|tf_static|imu)'" />
  <group if="$(arg minimal)">
    <node pkg="rosbag" type="record" name="record" output="screen" args="-j -e $(arg minimal_targets)"/>
  </group>
  <group unless="$(arg minimal)">
    <node pkg="rosbag" type="record" name="record" output="screen" args="-a -j -x '(.*)/compressed(.*)'"/>
  </group>
</launch>